.headline {
    text-align: center;
}

.headline>td {
    padding-bottom: 2px;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.row {
    line-height: 15px;
    text-align: center;
}

.row > td {
    padding-bottom: 2px;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
}