.jhg-table {

}

.headline {
    font-style: oblique;
    font-size: 70%;
    text-align: center;
}

.row-light {
    font-size: 50%;
    text-align: center;
}

.row-dark {
    font-size: 50%;
    text-align: center;
}

p {

}