.jhg-table {

}

.headline {
    font-style: bold;
    font-size: 80%;
    text-align: center;
}

.row-light {
    background-color: aqua;

    font-size: 70%;
    text-align: center;
}

.row-dark {
    background-color: royalblue;

    font-size: 70%;
    text-align: center;
}

p {

}